<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Iris classification 

    <form action="/predict" method="POST">
        SepalLengthCm = <input type="text" name="SepalLengthCm"> <br>
        SepalWidthCm = <input type="text" name="SepalWidthCm"> <br>
        PetalLengthCm = <input type="text" name="PetalLengthCm"> <br>
        PetalWidthCm = <input type="text" name="PetalWidthCm"> <br>


        <input type="submit">
    </form>
</body>
</html>